body {
    min-width: 360px;
}
.seperator {
    width: 350px;
    height: 200vh;
    top: 0;
    bottom: 0;
    left: 30%;
    transform: skewX(-20deg);
}
.padder {
    height: 56px;
}
.divider {
    margin: 0;
    padding: 0;
    border-color: rgb(0, 0, 0, 0.1) !important;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 1 !important;
}
.exp-com-logo {
    width: 7rem;
    justify-self: 7rem;
    border-radius: 50%;
    overflow: hidden;
}
.exp-com-logo img {
    width: 100%;
    display: block;
    border-radius: 50%;
}
.text-justify {
    text-align: justify;
}
@media all and (max-width:1080px) {
    .seperator {
        width: 200px;
        height: 200vh;
        top: 0;
        bottom: 0;
        left: 35%;
        transform: skewX(-15deg);
    }
}
@media all and (max-width:960px) {
    .seperator {
        width: 150px;
        height: 200vh;
        top: 0;
        bottom: 0;
        left: 38%;
        transform: skewX(-10deg);
    }
}
@media all and (max-width:860px) {
    .seperator {
        width: 130px;
        height: 200vh;
        top: 0;
        bottom: 0;
        left: 42%;
        transform: skewX(-7deg);
    }
}
@media all and (max-width:767px) {
    .seperator {
        width: 150vw;
        height: 100px;
        top: 55%;
        left: -50px;
        transform: skewX(-20deg) rotate(-5deg);
    }
}
@media all and (max-width:576px) {
    .seperator {
        width: 150vw;
        height: 120px;
        top: 55%;
        left: 0;
        transform: skewX(-20deg) rotate(-8deg);
    }
}

