body {
    min-width: 360px;
}
.seperator {
    width: 350px;
    height: 200vh;
    top: 0;
    bottom: 0;
    left: 30%;
    transform: skewX(-20deg);
}
.padder {
    height: 56px;
}
.divider {
    margin: 0;
    padding: 0;
    border-color: rgb(0, 0, 0, 0.1) !important;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 1 !important;
}
@media all and (max-width:576px) {
    .seperator {
        width: 150vw;
        height: 120px;
        top: 50%;
        left: 0;
        transform: skewX(-20deg) rotate(-15deg);
    }
}
@media all and (max-width:767px) {
    .seperator {
        width: 150vw;
        height: 100px;
        top: 55%;
        left: -50px;
        transform: skewX(-20deg) rotate(-5deg);
    }
}
@media all and (max-width:991px) {
    .seperator {
        width: 200px;
        height: 200vh;
        top: 0;
        bottom: 0;
        left: 35%;
        transform: skewX(-15deg);
    }
}